html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f172a; /* темний фон на весь екран */
  color: #e5e7eb;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
